//import fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=PT+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.primary-gradient {
  background: black;
  background: linear-gradient(to right, #504b4d, rgb(221, 214, 214));
}

//import partial files
@import "./sass/extends";
@import "./sass/login";
