.seller-registration {
  width: auto 50%;
  margin: 50px;
  margin-bottom: 50px;
}

.logo-img {
  width: 200px;
}

.header {
  margin-top: 100px;
  text-align: center;
}

.upload-button {
  padding: 5px;
}
